/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");

/* universal */
*,
*::before *::after {
  box-sizing: border-box;
}

html,body{
  height:100%;
 
}

.fontWhite{
  background-color:white;
}

.colorBlack{
  color: black;
}

/* index */

/* union */
main,
footer,
p{
  font-family:"Arapey", serif;
  font-size:14px;
}

/* class */

.a, .redes{
  color: white;
}

.nav{
  margin: 15px;
  flex-direction: column;
  align-content: center;
}

.menu,.foot{
  margin: 10px;
}

.red{
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.redes{
  cursor: pointer;
  padding: 15px;
}

.a:hover {
  background-color: red;
  cursor: pointer;
}


/* body */
body {
  background-color:black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

h1{
  font-family:"Ubuntu", sans-serif;
  font-weight:600;
  font-style:italic;
  padding:4px;
  font-size:2rem;
  background-color:red;
}

a{ 
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}

footer {
  
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  margin-top: auto;
  
 }
 
 
/* news class */
.back{
  
  color: black;
  padding:7px;
  padding-left: 15px;
  margin: 5px;
  border-radius: 12%;
}
.back:hover{
  cursor: pointer;
  color: white;
  background-color: gray;
}

.pNews{
  margin-left: 10px;
}


.slider {
  aspect-ratio: 10/13;
  width: 300px;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.sliderImg {
  height: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}

.mainSlider {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

/* shop class */
.backShop{
  margin-left: 15%;
}
.backShop:hover{
  cursor: pointer;
  color: white;
  background-color: red;
}
.shop{
  margin-top: 10%;
}


/* random class */
.randomBack{
  margin-left: 25%;
}
.video{
display: grid;
place-items:center
}

/* spring */

.img2025{
  margin-left: 30%;
  height: 40%;
  width: 40%;
}

.springBack{
  margin-left: 15%;
}

.hSpring{
  font-size:medium;
 margin-left: 55%;
}
 


 
@media screen and (max-width: 576px) {
  .headerNews{
    margin-top: 90%;
  }
  .mainSlider{
    display: grid;
    grid-template-rows: max-content;
  }
  
}

 
@media screen and (max-width: 768px) {
  .headerNews{
    margin-top: 50%;
  }
  .mainSlider{
    display: grid;
    grid-template-rows: max-content;
  }
  
  
}

@media screen and (max-width: 992px) {
  .headerNews{
    margin-top: 40%;
  }
  .mainSlider{
    display: grid;
    grid-template-rows: max-content;
  }
  
  
}